*.[ado]
Soda/soda
.vs/
Debug/
Soda/test.svg
Soda/test.dot
*.user
/build/
*.lo
*.la
/Soda/sodac
Makefile
Makefile.in
/Soda/Config.h*
/aclocal.m4
/autom4te.cache/
/build-aux/
/configure
/m4/*.m4
!/m4/ax_*.m4
